---
BasedOnStyle: LLVM
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
ColumnLimit: 100
EmptyLineAfterAccessModifier: Always
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
InsertBraces: true
PointerAlignment: Left
SpacesInAngles: Always
SpacesInParens: Custom
SpacesInParensOptions:
  InConditionalStatements: true
  Other: true

